<div class="background-section light first-section">
  <div class="overlay-content">
    <h1>Handmade with Love</h1>
    <p>Einzigartige handgefertigte Produkte</p>
    <button mat-raised-button class="primary-button" (click)="navigate('/online-shop')">Zum Online-Shop</button>
  </div>
</div>
<div class="background-section dark second-section">
  <div class="product-grid">
    <div class="product-card">
      <img
        src="assets/images/Geschenk_Set/1.png"
        alt="Produkt 1"
        class="product-image"
      />
      <h3>Geschenk-Sets</h3>
      <button mat-button class="secondary-button" (click)="navigate('/products/presents')">
        Jetzt anschauen
      </button>
    </div>
    <div class="product-card">
      <img
        src="assets/images/Kopfschmuck/grgoe1.jpeg"
        alt="Produkt 2"
        class="product-image"
      />
      <h3>Kopfschmuck</h3>
      <button mat-button class="secondary-button" (click)="navigate('/products/headdress')">
        Jetzt anschauen
      </button>
    </div>
    <div class="product-card">
      <img
        src="assets/images/Weihnachten_Winter/20.jpeg"
        alt="Produkt 3"
        class="product-image"
      />
      <h3>Weihnachten</h3>
      <button mat-button class="secondary-button" (click)="navigate('/products/christmas')">
        Jetzt anschauen
      </button>
    </div>
  </div>
</div>
