@import "../../../styles.scss";

.background-section {
  width: 100%;
  height: 99vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-section {
  background-image: url('/assets/images/background_brown.png');
}

.overlay-content {
  text-align: center;
  color: #fff;
  padding: 3rem;
  border-radius: 1rem;
}

.overlay-content h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5rem;
  margin-bottom: 1.5rem;
}

.overlay-content p {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.second-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  background-image: url('/assets/images/background_light_brown.png');
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  text-align: center;
}

.product-card h3 {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem;
  color: black; 
}

.product-image {
  width: 300px;
  height: 380px;
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

