<div class="cart-item">
  <img [src]="item.imageUrl" alt="{{ item.title }}" />
  <div class="details">
    <div class="title">{{ item.title }}</div>
    <div class="controls">
      <button mat-icon-button (click)="dec()">
        <mat-icon>remove</mat-icon>
      </button>
      <span>{{ item.quantity }}</span>
      <button mat-icon-button (click)="inc()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="price">{{ item.price | currency: "EUR" }}</div>
  </div>
  <button mat-icon-button class="remove" (click)="remove.emit(item.id)">
    <mat-icon>delete</mat-icon>
  </button>
</div>
