<!-- datenschutz.component.html -->
<div class="page">
    <mat-card class="content-card">
        <mat-card-content>
            <header>
                <h1>Datenschutz</h1>
            </header>
            <mat-divider></mat-divider>
            <main>
                <section>
                <h2>1. Datenschutzerklärung</h2>
                <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie unsere Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung.</p>
                </section>
                <section>
                <h2>2. Erfassung von Daten</h2>
                <h4>Wer ist verantwortlich für die Datenerfassung auf dieser Website?</h4>
                <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen.</p>    
                <br>
                <h4>Wie erfassen wir Ihre Daten?</h4>
                <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z.B. um Daten handeln, die Sie in ein Kontaktformular eingeben.Andere Daten werden automatisch beim Besuch der Website durch unsere IT-Systeme erfasst. Das sind vor allem technische Daten (z.B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie unsere Website betreten.</p>    
                <br>
                <h4>Wofür nutzen wir Ihre Daten?</h4>
                <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Zum anderen brauchen wir bei einer Anfrage Ihre Kontaktdaten, um Ihnen einen reibungslosen Kommunikationsablauf zu gewährleisten</p>    
                <br>
                <h4>Welche Rechte haben Sie bezüglich Ihrer Daten?</h4>
                <p>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung, Sperrung oder Löschung dieser Daten zu verlangen. Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Details hierzu entnehmen Sie der Datenschutzerklärung unter „Ihre Rechte“.</p>    
                </section>
                <section>
                <h2>3. Cookies</h2>
                <p>Es werden noch keine Cookies verwendet.</p>
                </section>
                <section>
                <h2>4. Analyse-Tools</h2>
                <p>Es werden noch keine Analyse-Tools verwendet.</p>
                </section>
                <section>
                <h2>5. Ihre Rechte</h2>
                <p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener im Sinne der DSGVO und es stehen Ihnen folgende Rechte gegenüber uns als Verantwortlichen zu:</p>
                <ol>
                    <li>
                    <h4>Recht auf Auskunft</h4>
                    <p>Sie können im Rahmen des Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten verlangen.</p>
                    </li>
                    <li>
                    <h4>Recht auf Berichtigung</h4>
                    <p>Sollten die Sie betreffenden Angaben nicht (mehr) zutreffend sein, können Sie nach Art. 16 DSGVO eine Berichtigung verlangen. Sollten Ihre Daten unvollständig sein, können Sie eine Vervollständigung verlangen.</p>
                    </li>
                    <li>
                    <h4>Recht auf Löschung</h4>
                    <p>Sie können unter den Bedingungen des Art. 17 DSGVO die Löschung Ihrer personenbezogenen Daten verlangen.</p>
                    </li>
                    <li>
                    <h4>Recht auf Einschränkung der Verarbeitung</h4>
                    <p>Sie haben im Rahmen der Vorgaben des Art. 18 DSGVO das Recht, eine Einschränkung der Verarbeitung der Sie betreffenden Daten zu verlangen.</p>
                    </li>
                    <li>
                    <h4>Recht auf Datenübertragbarkeit</h4>
                    <p>Sie haben nach Art. 20 DSGVO das Recht, die Sie betreffenden personenbezogenen Daten, die Sie uns bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder die Übermittlung an einen anderen Verantwortlichen zu verlangen.</p>
                    </li>
                    <li>
                    <h4>Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung</h4>
                    <p>Sie haben nach Art. 7 Abs. 3 DSGVO das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung wird dadurch nicht berührt.</p>
                    </li>
                    <li>
                    <h4>Recht auf Beschwerde bei einer Aufsichtsbehörde</h4>
                    <p>Wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt, steht Ihnen nach Art. 77 DSGVO das Recht auf Beschwerde bei einer Aufsichtsbehörde zu.</p>
                    </li>
                </ol>
                </section>                
                <section>
                <h3>Bitte beachten Sie auch Ihr Widerspruchsrecht nach Art. 21 DSGVO:</h3>
                <p>a) Allgemein: begründeter Widerspruch erforderlich</p>
                <p>Erfolgt die Verarbeitung Sie betreffender personenbezogener Daten</p>
                <ul>
                    <li>
                    zur Wahrung unseres überwiegenden berechtigten Interesses (Rechtsgrundlage nach Art. 6 Abs. 1 f) DSGVO) oder
                    </li>
                    <li>
                    im öffentlichen Interesse (Rechtsgrundlage nach Art. 6 Abs. 1 e) DSGVO),
                    </li>
                </ul>
                <p>haben Sie das Recht, jederzeit aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Verarbeitung Widerspruch einzulegen; dies gilt auch für ein auf die Bestimmungen der DSGVO gestütztes Profiling.</p>
                
                <p>Im Fall des Widerspruchs verarbeiten wir die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, wir können zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.</p>
                
                <p>b) Sonderfall Direktwerbung: einfacher Widerspruch genügt</p>
                <p>Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit und ohne Angabe von Gründen Widerspruch gegen diese Verarbeitung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.</p>
                
                <p>Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie betreffenden personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.</p>
                </section>                  
                <section>
                <h2>6. Kontakt</h2>
                <p>Siehe:</p>
                <button mat-button (click)="navigateContact()">Kontakt</button>
                </section>
            </main>
        </mat-card-content>
    </mat-card>
</div>
  