<!-- Main Content -->
<div class="main-content">
  <img
  src="assets/images/other_background.png"
  alt=""
  class="banner"
  />
  <mat-card class="content-card" style="text-align: center;">
    <h1 class="slideshowHeader">Weihnachtsmarkt Angebote</h1>
    <mat-card-content>
      <diashow [slides]="xmasImages" [indicatorsVisible]="false"></diashow>
      <button mat-raised-button class="primary-button" (click)="openOrderDialog()">Jetzt Anfrage stellen</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="content-card" style="text-align: center;">
    <h1 class="slideshowHeader">Bilder und mehr</h1>
    <mat-card-content>
      <diashow [slides]="picsAndMoreImages" [indicatorsVisible]="false"></diashow>
      <button mat-raised-button class="primary-button" (click)="openOrderDialog()">Jetzt Anfrage stellen</button>
    </mat-card-content>
  </mat-card>
</div>