<div class="main-content">
  <img src="assets/images/other_background.png" alt="" class="banner" />
  <div class="product-gallery">
    <h1>Produktbeispiele</h1>
    <mat-divider></mat-divider>
    <div class="product-grid">
      <div
        class="product-card"
        *ngFor="let product of products"
        (click)="viewProductDetails(product.id)"
      >
        <img
          [src]="product.mainImage"
          [alt]="product.name"
          class="product-image"
          #imageRef
        />
        <div class="overlay">
          <h3>{{ product.name }}</h3>
        </div>
      </div>
    </div>
  </div>
  <button mat-raised-button class="primary-button products-button" (click)="openOrderDialog()">
    Jetzt Anfrage stellen
  </button>
</div>
