@import "../../../styles.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

.site-content {
  margin-top: $header-height;
}

:host {
  display: block;
  font-family: "Inter", sans-serif;
  padding: 2rem;
  min-height: 100vh;
}

