<div class="main-content">
    <div class="coming-soon-container">
        <h1 class="animated-text">Coming Soon...</h1>
        <div class="heart-loader">
            <svg viewBox="0 0 32 29.6">
            <path
                d="M23.6,0c-3.4,0-6.4,2.2-7.6,5.3C14.8,2.2,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4
                c0,9.4,16,21.2,16,21.2s16-11.8,16-21.2C32,3.8,28.2,0,23.6,0z"
            />
            </svg>
        </div>
        <p>Nicht mehr lange dann öffnet der Online-Shop. In der Zwischenzeit vergnüge dich gerne in unserem Whatsapp-Shop:</p>
        <button class="icon-button" (click)="openWhatsapp()">
            <img class="icon-img" src="assets/images/whatsapp_logo_big.png" alt="Whatsapp Icon" />
        </button>
    </div>
</div>
