<div class="site-content">
  <ng-container *ngIf="view === 'home'">
    <h2 class="section-title" appInView>Best Sellers</h2>
    <app-product-list [displayedProducts]="productList"></app-product-list>

    <h3 class="section-subtitle" appInView>Angebote</h3>
    <app-category-list [displayedCategories]="categoryList"></app-category-list>
  </ng-container>

  <ng-container *ngIf="view === 'category'">
    <h2 class="section-title" appInView>{{ currentCategory | titlecase }}</h2>

    <div *ngIf="categoryList.length !== 0">
      <app-category-list
        [displayedCategories]="categoryList"
      ></app-category-list>
    </div>

    <h3 class="section-subtitle" appInView>Beliebt in {{ currentCategory }}</h3>
    <app-product-list [displayedProducts]="productList"></app-product-list>
  </ng-container>

  <ng-container *ngIf="view === 'subcategory'">
    <h2 class="section-title" appInView>{{ currentSubcategory | titlecase }}</h2>
    <app-product-list [displayedProducts]="productList"></app-product-list>
  </ng-container>
</div>
