@import "../../../styles.scss";

/* Base Styles */
.mat-toolbar {
  background-color: $primary-dark-color;
  color: white;
}

.footer {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.footer-text {
  flex-grow: 1;
  margin-right: auto;
  font-size: medium;
}

.spacer {
  flex-grow: 1;
  margin-left: auto;
}

.logo-footer {
  height: 90px;
  width: 90px;
}

.icon-button {
  border: none !important;
  background-color: transparent !important;
  cursor: pointer !important;
}

/* Tablet */
@media (max-width: 1000px) {
  .footer-text {
    font-size: 0.9rem;
  }
}

/* Phones */
@media (max-width: 600px) {
  .footer {
    height: auto;
    padding: 0 10px;
  }

  .logo-footer {
    margin-right: 50px;
  }
  
  .footer-content {
    background-color: $primary-dark-color;
  }

  .footer-text {
    display: none;
  }

  .spacer {
    display: none;
  }

  .formal-links {
    display: none;
  }
}
