<mat-toolbar class="footer">
  <div class="footer-content">
    <img src="assets/images/logo_weiß_transparent.png" class="logo-footer" alt="">
    <span class="footer-text">Copyright © 2024 L.art. Alle Rechte vorbehalten.</span>
    <span class="spacer"></span> <!-- Spacer to push buttons to the right -->
    <button class="icon-button" (click)="openEtsy()">
      <img src="assets/images/etsy.png" alt="Etsy Icon">
    </button> 
    <button class="icon-button" (click)="openInstagram()">
      <img src="assets/images/instagram.png" alt="Instagram Icon">
    </button>
    <div class="formal-links">   
      <button mat-button style="color: white;"(click)="navigateImpressum()">Impressum</button>
      <button mat-button style="color: white;"(click)="navigateDatenschutz()">Datenschutz</button>
    </div>
  </div>
</mat-toolbar>
  