@import "../../../styles.scss";

.mat-toolbar {
  height: 140px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $transparent-color;
}

.nav-bar {
  display: flex;
  flex-direction: row; /* Align items horizontally */
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid $primary-dark-color; /* Bottom border on the entire nav-bar */
  padding-bottom: 5px; /* Optional: Adds some space above the bottom border */
}

/* Style for each nav bar item */
.nav-bar-list-item {
  text-decoration: none;
  padding: 8px 12px;
  margin: 5px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  color: black;
  cursor: pointer;
}

/* Hover effect */
.nav-bar-list-item:hover {
  background-color: $primary-dark-color;
  color: white;
}

/* Active link style */
.nav-bar-list-item.active {
  background-color: $primary-dark-color;
  color: white;
}

.logo {
  height: 140px;
  width: 140px;
  margin-right: 90px;
  cursor: pointer;
}
