<header *ngIf="showHeader">
  <mat-card>
    <mat-toolbar>
      <img
        src="assets/images/logo_weiß_transparent.png"
        (click)="navigate('')"
        class="logo"
        alt="Logo"
      />

      <!-- Burger Menu Icon for mobile -->
      <button
        class="burger-menu"
        (click)="toggleMenu()"
        aria-label="Navigation umschalten"
        [attr.aria-expanded]="menuOpen ? 'true' : 'false'"
        aria-controls="main-nav"
      >
        &#9776;
      </button>

      <mat-nav-list
        id="main-nav"
        class="nav-bar"
        [class.active]="menuOpen"
        role="navigation"
      >
        <a
          [class.active]="(activeLink$ | async) === ''"
          class="nav-bar-list-item"
          (click)="navigate('')"
          >Home</a
        >
        <a
          [class.active]="(activeLink$ | async) === 'products'"
          class="nav-bar-list-item"
          (click)="navigate('/products')"
          >Produktbeispiele</a
        >
        <a
          [class.active]="(activeLink$ | async) === 'requests'"
          class="nav-bar-list-item"
          (click)="navigate('requests')"
          >Anfragen</a
        >
        <li
          class="nav-bar-list-item mega-menu-container"
          (mouseenter)="showMegaMenu()"
          (mouseleave)="hideMegaMenuDelayed()"
          (focus)="showMegaMenu()"
          tabindex="0"
        >
          <div class="trigger" (click)="navigateToShop()">Online-Shop ▼</div>

          <div class="mega-menu" *ngIf="megaMenuVisible">
            <div class="category-column" *ngFor="let category of categories">
              <div
                class="category-title"
                (click)="navigateToCategory(category.name)"
              >
                {{ category.name }}
              </div>
              <div
                class="subcategory"
                *ngFor="let sub of category.children"
                (click)="navigateToSubCategory(category.name, sub.label)"
              >
                {{ sub.label }}
              </div>
            </div>
          </div>
        </li>

        <a
          [class.active]="(activeLink$ | async) === 'where-to-find-us'"
          class="nav-bar-list-item"
          (click)="navigate('where-to-find-us')"
          >Märkte 2025</a
        >
        <a
          [class.active]="(activeLink$ | async) === 'about-us'"
          class="nav-bar-list-item"
          (click)="navigate('about-us')"
          >Über uns</a
        >
        <a
          [class.active]="(activeLink$ | async) === 'contact'"
          class="nav-bar-list-item"
          (click)="navigate('contact')"
          >Kontakt</a
        >
      </mat-nav-list>
      <button
        mat-icon-button
        class="cart-button"
        (click)="cartService.openCart()"
        [matBadge]="(cartService.cart$ | async)?.totalQuantity"
        matBadgeColor="accent"
        matBadgeOverlap="false"
        aria-label="Warenkorb öffnen"
      >
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar>
  </mat-card>
</header>
