@import "../../../styles.scss";

.main-content {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  height: auto;
  max-height: 20vh; 
  object-fit: cover;
  margin-top: 160px;
}

.content-card {
  background-color: rgb(243, 243, 232);
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
  width: 800px;
}

.diashow {
  margin-bottom: 20px;
}

.buttons {
  margin-bottom: 30px;
}


/* Tablet view */
@media (max-width: 1024px) {
  .content-card {
    max-width: 700px;
  }
}

/* Mobile view */
@media (max-width: 600px) {
  .banner {
    margin-bottom: 1rem;
  }

  .content-card {
    width: 90%;
    max-width: 100%;
    margin-bottom: 1rem;
  }

  diashow {
    max-height: 300px;
  }

  diashow img {
    height: 100%;
    object-fit: cover;
  }

  .buttons {
    flex-direction: column;
    width: 100%;
  }
}