.slides {
    width: 100%;
    height: 400px;
    border-radius: 10px;
    position: relative;

    .slide{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;     
    }

    #indicators{
        position:absolute;
        left: 0px;
        right: 0px;
        margin: auto;
        bottom: 20px;
        width: 200px;
        .indicator{           
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: white;
            display: inline-block;
            margin: 0px 5px;
            cursor: pointer;
            transition: background-color 0.5s ease-in-out;
            &.active{
                background-color: black;
            }
        }
    }
}

.diashowNext,
.diashowPrev {
    //postion and color
    position:absolute !important;
    top: 50% !important;
    border: 0px !important;
    background-color: transparent !important;
    color: white!important;

    //size
    width: 60px !important;
    height: 60px !important;
    padding: 0px !important;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
 
    & > *[role=img] {
       width: 32px;
       height: 32px;
       font-size: 32px;
 
       svg {
          width: 32px;
          height: 32px;
       }
    }
 
    .mat-mdc-button-touch-target {
       width: 48px !important;
       height: 48px !important;
    }
}
.diashowNext{
    right: 20px !important;
}

.diashowPrev{
    left: 20px!important;
}

.mat-icon{
    height: 50px;
    width: 50px;
}