<div class="main-content">
    <mat-card class="content-card" style="text-align: center;">
      <mat-card-content>
        <header>
          <h1>Willkommen bei l.art</h1>
          <p>Ihrem Zuhause für handgemachte Dekorationen und Geschenkideen aus einer Hand!</p>
        </header>
        <main>
          <section id="about">
            <h2>Über mich</h2>
            <p>Mein Name ist Lara und ich bin die kreative Kraft hinter jeder einzigartigen Kreation, die Sie hier finden. Bei l.art dreht sich alles um die Magie handgefertigter Kunstwerke. Von Leinwänden über Holzarbeiten bis hin zu Beton- und Epoxidharz-Kreationen – ich liebe es, mit einer Vielzahl von Materialien zu experimentieren, um etwas wirklich Besonderes zu schaffen.</p>
          </section>
          <section id="services">
            <h2>Meine Dienstleistungen</h2>
            <p>Derzeit biete ich meine Kunstwerke nur auf Anfrage an, um sicherzustellen, dass jedes Stück perfekt auf die individuellen Wünsche und Bedürfnisse meiner Kunden zugeschnitten ist. Egal, ob Sie nach einem einzigartigen Dekorationsstück für Ihr Zuhause suchen oder das perfekte personalisierte Geschenk für einen besonderen Anlass benötigen – ich stehe Ihnen gerne zur Seite, um Ihre Visionen zum Leben zu erwecken.</p>
          </section>
        </main>
        <footer>
          <p>Vielen Dank, dass Sie den Weg zu l.art gefunden haben. Ich freue mich darauf, mit Ihnen zusammenzuarbeiten und Ihnen dabei zu helfen, etwas Einzigartiges und Unvergessliches zu schaffen!</p>
        </footer>        
        <button mat-raised-button class="primary-button">Jetzt ihre Anfrage stellen</button>
      </mat-card-content>
    </mat-card>
</div>
<div class="info-content">
  <div class="centered-items">
    <img src="assets/images/logo_transparent.png" class="logo-about-us" alt="">
    <mat-divider></mat-divider>
    <h2>Jedes unserer Produkte ist, wie es im Logo auch vermerkt ist "handmade" also handgemacht.</h2>
  </div>
</div>
