<div class="container">
  <img
    src="assets/images/other_background.png"
    alt=""
    class="banner"
  />
  <div class="headline-box">
    <h1 class="headline">Über Uns</h1>
  </div>
  <div class="text-box">
    <p class="content-text">
      Willkommen bei l.art – Ihrem Zuhause für handgemachte Dekorationen und
      Geschenkideen!<br /><br />
      Ich bin Lara, die kreative Kraft hinter jedem einzigartigen Kunstwerk, das
      Sie hier finden. Bei l.art dreht sich alles um die Magie handgefertigter
      Kunst. Von Leinwänden über Holzarbeiten bis hin zu Beton- und
      Epoxidharz-Kreationen – ich experimentiere mit verschiedenen Materialien,
      um besondere Stücke zu schaffen.<br /><br />
      Meine Kunstwerke biete ich derzeit nur auf Anfrage an, um sicherzustellen,
      dass jedes Stück perfekt auf die individuellen Wünsche meiner Kunden
      zugeschnitten ist. Egal, ob Sie ein einzigartiges Dekorationsstück für
      Ihr Zuhause oder ein personalisiertes Geschenk suchen – ich helfe Ihnen
      gerne, Ihre Visionen zum Leben zu erwecken.<br /><br />
      Vielen Dank, dass Sie l.art entdeckt haben. Ich freue mich darauf, mit
      Ihnen zusammenzuarbeiten und etwas Einzigartiges zu schaffen!
    </p>
  </div>
</div>
