// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Lart-primary: mat.define-palette(mat.$brown-palette, 700);
$Lart-accent: mat.define-palette(mat.$blue-grey-palette, 600);

// The warn palette is optional (defaults to red).
$Lart-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Lart-theme: mat.define-light-theme(
  (
    color: (
      primary: $Lart-primary,
      accent: $Lart-accent,
      warn: $Lart-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$primary-color: #5d4037;
$primary-dark-color: #472E1F;
$complementary-color: #486c79;
$complementary-dark-color: #2c454fba;

$transparent-color: rgba(255, 255, 255, 0.1);
$full-transparent-color: rgba(255, 255, 255, 0);

@include mat.all-component-themes($Lart-theme);

body {
  margin: 0;
  font-family: "Geoedit", sans-serif;
}

body {
  background-image: url('/assets/images/background_brown.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  background-color: $primary-dark-color;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.app-root {
  display: flex;
  min-height: 100vh;
}

// primary buttons
.primary-button {
  background-color: $complementary-color !important;
  color: black !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  transition: background-color 0.3s ease;
}

.primary-button:hover {
  background-color: white !important;
  color: $primary-dark-color !important;
}

// secondary buttons
.secondary-button {
  background-color: $primary-dark-color !important;
  color: white !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  transition: background-color 0.3s ease;
}

.secondary-button:hover {
  background-color: white !important;
  color: $primary-dark-color !important;
}

.mdc-dialog__surface {
  background-color: transparent !important;
}

.transparent-dialog .mat-dialog-container {
  background: transparent;
  box-shadow: none;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.mat-divider {
  margin-top: 20px; /* Top margin */
  margin-bottom: 20px; /* Bottom margin */
}
