<div class="main-content">
    <mat-card class="content-card" style="text-align: center;">
      <mat-card-content>
        <h1>Anfrage stellen</h1>
        <mat-divider></mat-divider>
        <img src="assets/images/logo_weiß_transparent.png" class="logo-requests" alt="">
        <h3>          
            Haben Sie Fragen, Wünsche oder ein Anliegen? Klicken Sie einfach auf den Button und 
            füllen Sie das folgende Formular aus, und wir werden uns schnellstmöglich bei Ihnen melden.
        </h3>
      </mat-card-content> 
    </mat-card>
    <button mat-raised-button class="primary-button" (click)="openOrderDialog()">Anfrage stellen</button>
</div>